@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Average&display=swap"); */

body {
  overflow-x: hidden;
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: Average, sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px; /* Width of vertical scrollbar */
  height: 10px; /* Height of horizontal scrollbar */
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

/* Scroll thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
  border: 2px solid #000000;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

/* For Firefox */
* {
  scrollbar-width: thin; /* thin / auto */
  scrollbar-color: #000000;
}
